<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We need to send you reminders about your returns</string>
	<key>ShippoAPIKey</key>
	<string>shippo_live_005dcab66bcb0269d57300a4fa7560c2f14dae59</string>
</dict>
</plist>
